<% include ../views/partials/header.ejs %>
<center>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-1 text-info"><strong>K12 Passport</strong></h1>
    </div>
    <div class="bg-dark p4">
      <div class="bg-light p3">
        <h1 class="display-4 text-muted">Login with</h1>
        <a href="/auth/oktaOIDC"><img src="okta1000.jpg" width="400" height="200" /></a>
      </div>
    </div>
  </div>
</center>



<% include ../views/partials/footer.ejs %>
