<% include ../views/partials/header.ejs %>

<div class="">
  <div class="">
    <form action="/students" method="POST">
      <input type="text" name="student[firstName]" placeholder="first">
      <input type="text" name="student[lastName]" placeholder="last">
      <input type="submit">
    </form>
  </div>
</div>

<% include ../views/partials/footer.ejs %>
