<% include ../views/partials/header.ejs %>
<div class="container">
  <div class="navbar navbar-dark bg-dark">
    <a class="float-lg-right" href="/auth">Log In</a>
  </div>
</div>
<center><h1 class="my-5">K12 Passport</h1></center>



<% include ../views/partials/footer.ejs %>
