<h1>Visitor Show Page</h1>
  <% visitor.forEach(function(visitor){ %>
    <h2>Visitor is <%= visitor.firstName %> <%= visitor.lastName %></h2>
    <h3>Drivers License <%= visitor.driversLicense %></h3>
  <% }); %>
